html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="/img/favicon.png")
        title !{title || ""}
        style(type="text/css").
            html {
                font-family: sans-serif;
                font-weight: 300;
            }

            body {
                margin: 0;
                padding: 0;
            }
    body
        div#root
        script.
          window.__PRELOADED_STATE__ = !{JSON.stringify(state || {})};
        script(src="/js/vendor.js")
        script(src="/js/main.js")
